<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Assignment 1</h5>
          <div class="card-text">
            <app-assignment1></app-assignment1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Assignment 2</h5>
          <div class="card-text">
            <app-assignment2></app-assignment2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
