<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Observe the collection of todos in component's class</li>
    <li class="list-group-item">Render the list of todos using &lt;table&gt; tag</li>
    <li class="list-group-item">Observe the "active" class in component's styles</li>
    <li class="list-group-item">Apply the "active" class to the row when user clicks on it</li>
  </ul>
  <div class="container your-code">
    <h6>Remove this &lt;h3&gt; and create your HTML here</h6>
  </div>
</div>
