<div class="row">
  <div class="col">
    <div class="card border-dark mb-3">
      <div class="card-header">Todos</div>
      <div class="card-body text-dark">
        <div class="card-text">
          <table class="table table-dark table-hover" *ngIf="todos && todos.length > 0; else noTodos">
            <thead>
              <tr>
                <th scope="col">Text</th>
                <th scope="col">Description</th>
                <th scope="col">Completed</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todo of todos">
                <td>{{ todo.text }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.completed }}</td>
                <td>
                  <span class="view" (click)="viewTodo(todo)">
                    <i class="fas fa-binoculars"></i>
                  </span>
                  <span class="delete" (click)="deleteTodo(todo)">
                    <i class="far fa-trash-alt"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noTodos>
  <div class="alert alert-danger">
    <div class="row">
      <div class="col-2">
        <span>No Todos Available</span>
      </div>
      <div class="col">
        <button class="btn btn-sm btn-info" (click)="navigateToCreateTodo()">Create Todo</button>
      </div>
    </div>
  </div>
</ng-template>
